/* Basic styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}
body::-webkit-scrollbar {
  display: none;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cea800;
  padding: 10px 30px;
  position: fixed;
  margin-top: 40px;
  left: 100px;
  right: 100px;
  border-radius: 100px;
  z-index: 100;
  box-shadow: 0 4px 8px white;
}

.navbar ul {
  display: flex;
  list-style: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.navbar ul li a:hover {
  color: black;
  transition: background-color 0.3s ease;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 1.2em;
  font-weight: bold;
}
/* Burger Menu */
.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  justify-content: left;
}

.burger-menu span {
  display: block;
  width: 70%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}
/* Contact Section */
.contact-section {
  color: #ffd700;
  padding: 50px 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-image img {
  max-width: 100%;
  border-radius: 100px;
  margin-top: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.contact-form {
  max-width: 50%;
  margin-left: 20px;
}

.contact-form h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffd700;
}

.contact-form p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  background-color: #000;
  border: 2px solid #ffd700;
  padding: 10px;
  color: white;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
}

.contact-form button {
  background-color: #ffd700;
  color: black;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
}

.contact-form button:hover {
  background-color: #ff4500;
  color: white;
  transition: background-color 0.3s ease;
}

/* Footer Styling */
footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h3 {
  font-size: 24px;
  color: #cea800;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  font-size: 16px;
  color: #ddd;
  line-height: 1.6;
}

.footer-section a {
  text-decoration: none;
  color: #cea800;
  display: block;
  margin: 5px 0;
}

.footer-section a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid white;
  margin-top: 20px;
  font-size: 14px;
}

.footer-section .fa {
  margin-right: 10px;
}
